.hero {
  position: relative;
  padding-top: var(--spacing-700);
  padding-bottom: var(--spacing-1800);
  text-align: center;

  @media (min-width: 1200px) {
    padding-bottom: var(--spacing-3700);
  }

  h2 {
    color: var(--color-white);
    margin-bottom: var(--spacing-500);
  }
}

.underlined {
  text-decoration: underline;
  text-decoration-color: var(--color-green);
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}
